#body {
  background-color: orangered;
  overflow: hidden;
}

#map {
  position: relative;
  background-color: white;
  border: 2px solid blue;
  margin: -10 auto;
}

#chatBox {
	position: fixed;
	top: 80%;
	width: 100%;
	text-align: center;
	z-index: 2000;
	margin-left: -8px;

	pointer-events: none;
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: none;
}

#leftBorder, #rightBorder {
	position: fixed;
	background-color: orangered;
	z-index: 1000;
}

#leftBorder {
	left: 0;
}

#rightBorder {
	right: 0;
}

#score {
	position: absolute;
	width: 24em;
	height: 4em;
	top: 0%;
	left: 50%;
	margin-left: -12em;
	z-index: 100;
}

#score0, #score1, #time {
	font-size: 25px;
	text-align: center;
}

#score0 {
	color: green;
}

#score1 {
	color: blue;
}









